@keyframes money {
  0% {
    top: 8px;
    height: 0px;
    left: 8px;
  }
  100% {
    height: 32px;
  }
}
@keyframes count {
  0% {
    border-radius: 10px;
  }
  33% {
    border-radius: 30px;
  }
  66% {
    border-radius: 0px;
  }
  100% {
    border-radius: 10px;
  }
}
@keyframes hourglass_clear {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hourglass_send {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-10px) rotate3d(1, 0, 0, 180deg);
  }
  70% {
    opacity: 0;
  }
}
.We_protect {
  font-family: "Manrope";
}
.We_protect .wrapper {
  max-width: 1240px;
  margin: auto;
}
.We_protect .wrapper .We_protect_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.We_protect .wrapper .We_protect_row .content .content_label {
  margin-bottom: 40px;
}
.We_protect .wrapper .We_protect_row .content .content_label .label {
  font-size: 40px;
  font-weight: 600;
  line-height: 125%; /* 50px */
  margin-bottom: 12px;
}
.We_protect .wrapper .We_protect_row .content .content_label .sub_label {
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
}
.We_protect .wrapper .We_protect_row .content .content_row .card {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.We_protect .wrapper .We_protect_row .content .content_row .card:nth-child(1)::after {
  content: "";
  background-image: url(../../../public/image/We_protect/line.svg);
  position: absolute;
  height: 105px;
  width: 5px;
  top: 63px;
  left: 33.5px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card:hover {
  /*   .card_image {
    &::after,
    &::before {
      transform: translate(5px, -5px ) rotate( -5deg);
    }
  } */
}
.We_protect .wrapper .We_protect_row .content .content_row .card:hover .card_count {
  animation: count 1s linear 1;
}
.We_protect .wrapper .We_protect_row .content .content_row .card:hover .money_and_back_1 {
  animation: money 0.7s linear 1;
}
.We_protect .wrapper .We_protect_row .content .content_row .card:hover .hourglass_clear {
  animation: hourglass_clear 1.5s linear 1;
}
.We_protect .wrapper .We_protect_row .content .content_row .card:hover .hourglass_send {
  animation: hourglass_send 1.5s linear 1;
}
.We_protect .wrapper .We_protect_row .content .content_row .card:nth-child(1) {
  margin-bottom: 30px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_image {
  padding: 25px;
  border-radius: 50%;
  border: 10px solid #2d8eee;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -10px;
  left: 0px;
  margin-right: 65px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_image::after, .We_protect .wrapper .We_protect_row .content .content_row .card .card_image::before {
  content: "";
  transition-duration: 0.3s;
  position: absolute;
  background-color: #2d8eee;
  z-index: 5;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_image::after {
  top: 20px;
  left: 50px;
  height: 10px;
  width: 32px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_image::before {
  top: 10px;
  left: 70px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_image .money_and_back_1 {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  transition-duration: 0.3s;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_image .hourglass_clear {
  position: absolute;
  top: 10px;
  left: 10px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_image .hourglass_send {
  position: absolute;
  top: 29px;
  left: 20px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_information {
  margin-left: 135px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_information .card_name_block {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_information .card_name_block .card_count {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  border-radius: 10px;
  background: #2d8eee;
  padding: 6px 11px;
  margin-right: 20px;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_information .card_name_block .card_name {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}
.We_protect .wrapper .We_protect_row .content .content_row .card .card_information .card_text {
  max-width: 670px;
  color: #b1b1b1;
  text-align: justify;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}