.Stage_of_quiz_develop {
  margin-bottom: 140px;
  .wrapper {
    max-width: 1240px;
    margin: auto;
    .label {
      font-family: "Manrope", sans-serif;
      font-weight: 600;
      font-size: 40px;
      line-height: 125%;
      text-align: center;
      color: #f0f0f0;
      margin-bottom: 15px;
    }
    .sub_label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Manrope", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 125%;
      text-align: center;
      color: #b1b1b1;
      max-width: 820px;
      margin: auto;
      margin-bottom: 40px;
    }
    .graphik {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 40px;
      overflow: hidden;

      .graph_card:nth-child(odd) {
        .card_img {
          &::after {
            top: -20.5px;
          }
          &::before {
            top: -22px;
          }
        }
      }
      .graph_card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 175px;
        width: 150px;
        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 85px;
          left: 7px;
          background-color: #2d8eee;
          border-radius: 5px;
          width: 180px;
          height: 2px;
        }
        &::after {
          left: 100px;
        }
        &::before {
          left: -60px;
        }
        &:hover {
          .card_count {
            &::after,
            &::before {
              background-color: #96caff;
            }
          }
          .number,.one {
            background-color: white;

            /*   .number::after {
                content: counter(count);

                animation: count1 0.5s linear 1;
              } */
          }
        }
        .number {
          &::after {
            counter-increment: count 0;
            content: counter(count);
          }

          counter-increment: count 0;
          content: counter(count);
        }

        .card_label {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          text-align: center;
          color: #f0f0f0;
        }
        .card_count {
          margin-bottom: 5px;
          font-family: "Manrope", sans-serif;
          font-weight: 600;
          font-size: 18px;
          line-height: 125%;
          color: #2d8eee;
       
          &::before {
            transition-duration: 0.3s;
            content: "";
            position: absolute;
            top: 75px;
            left: 41%;
            background-color: #2d8eee;
            border-radius: 50%;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
@keyframes count1 {
  0% {
    counter-increment: count 0;
  }
  100% {
    counter-increment: count 01;
  }
}
@keyframes count2 {
  0% {
    counter-increment: count 0;
  }
  50% {
    counter-increment: count 01;
  }
  100% {
    counter-increment: count 02;
  }
}
@keyframes count3 {
  0% {
    counter-increment: count 0;
  }
  33% {
    counter-increment: count 01;
  }
  66% {
    counter-increment: count 01;
  }
  100% {
    counter-increment: count 03;
  }
}
@keyframes count1 {
  0% {
    counter-increment: count 0;
  }
  100% {
    counter-increment: count 01;
  }
}
@keyframes count1 {
  0% {
    counter-increment: count 0;
  }
  100% {
    counter-increment: count 01;
  }
}
@keyframes count1 {
  0% {
    counter-increment: count 0;
  }
  100% {
    counter-increment: count 01;
  }
}
