.Stage_of_quiz_develop {
  margin-bottom: 140px;
  .wrapper {
    max-width: 1240px;
    margin: auto;
    .label {
      text-align: center;
      font-family: "Manrope";
      font-size: 40px;
      font-weight: 600;
      line-height: 125%; /* 50px */
      margin-bottom: 40px;
    }
    .graphik {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 40px;
      overflow: hidden;

      .graph_card:nth-child(odd) {
        .card_img {
          &::after {
            top: -20.5px;
          }
          &::before {
            top: -22px;
          }
        }
      }
      .graph_card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 320px;

        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 160px;
          left: 7px;
          background-color: #2d8eee;
          border-radius: 5px;
          width: 150px;
          height: 2px;
        }
        &::after {
          left: 140px;
        }
        &::before {
          left: -40px;
        }
        &:hover {
          .face {
            transform: rotateY(180deg);
          }
          .speaker_right_part {
            animation: speaker 1s linear 1;
          }
          .speaker_left_part {
            animation: speaker_left 1s linear 1;
          }
          .statistics {
            animation: statistics 1s linear 1;
          }
          .statistics_line {
            animation: statistics_line 1s linear 1;
          }
          .gear {
            transform: rotate(180deg);
          }
          .card_img {
            &::after,
            &::before {
              background-color: #96caff;
            }
          }
        }
        .card_img {
          margin-bottom: 12px;
          position: relative;
          &::after,
          &::before {
            transition-duration: 0.3s;
            content: "";
            position: absolute;
            top: 154px;
            left: 10px;
            background-color: #2d8eee;
            border-radius: 50%;
            width: 15px;
            height: 15px;
          }
          &::after {
            top: 155.5px;
            left: 11.5px;
            width: 12px;
            height: 12px;
            border: 2px solid #081522;
          }

          img {
            position: relative;
            height: 40px;
            width: 40px;
            object-fit: contain;
          }
          .face {
            transition-duration: 0.5s;
          }
          .face_board {
            position: absolute;
            top: 0px;
            left: 0px;
          }
          .statistics_line {
            position: absolute;
            top: 0px;
            left: 0px;
          }
          .statistics {
          }
          .speaker_left_part {
          }
          .speaker_right_part {
            position: absolute;
            top: 0px;
            left: 0px;
          }
          .gear {
            transition-duration: 1s;
          }
        }
        .card_label {
          max-width: 254px;
          color: var(--light-grey, #d4d4d4);
          text-align: center;
          font-family: "Manrope";
          font-size: 18px;
          font-weight: 600;
          line-height: 125%;
          height: 90px;
        }
      }
    }
    .images {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        border-radius: 10px;
        width: 600px;
        height: 256px;
        object-fit: cover;
      }
    }
  }
}
@keyframes speaker {
  0% {
  }
  20% {
    transform: scale(1.5) translate(5px, 00px);
  }
  30% {
    transform: scale(1.5) translate(5px, 00px) rotate(20deg);
  }
  50% {
    transform: scale(1.5) translate(5px, 00px) rotate(-20deg);
  }
  80% {
    transform: scale(1.5) translate(5px, 00px) rotate(20deg);
  }
  100% {
  }
}
@keyframes speaker_left {
  0% {
  }
  50% {
    transform: scale(1.2) translate(0px, 00px) /* rotate(20deg) */;
  }
  100% {
  }
}
@keyframes statistics {
  from {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%); 
  }
  to {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
@keyframes statistics_line {
  from {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }}