.Stage_of_quiz_develop {
  margin-bottom: 140px;
}
.Stage_of_quiz_develop .wrapper {
  max-width: 1240px;
  margin: auto;
}
.Stage_of_quiz_develop .wrapper .label {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: #f0f0f0;
  margin-bottom: 15px;
}
.Stage_of_quiz_develop .wrapper .sub_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  color: #b1b1b1;
  max-width: 820px;
  margin: auto;
  margin-bottom: 40px;
}
.Stage_of_quiz_develop .wrapper .graphik {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
  overflow: hidden;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:nth-child(odd) .card_img::after {
  top: -20.5px;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:nth-child(odd) .card_img::before {
  top: -22px;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 175px;
  width: 150px;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card::after, .Stage_of_quiz_develop .wrapper .graphik .graph_card::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 7px;
  background-color: #2d8eee;
  border-radius: 5px;
  width: 180px;
  height: 2px;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card::after {
  left: 100px;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card::before {
  left: -60px;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .card_count::after, .Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .card_count::before {
  background-color: #96caff;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .one {
  animation: count1 0.5s linear 1;
  counter-increment: count 1;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .two {
  animation: count2 0.5s linear 1;
  counter-increment: count 2;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .thri {
  animation: count3 0.5s linear 1;
  counter-increment: count 3;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .four {
  animation: count4 0.5s linear 1;
  counter-increment: count 4;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .five {
  animation: count5 0.5s linear 1;
  counter-increment: count 5;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .six {
  animation: count6 0.5s linear 1;
  counter-increment: count 6;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card:hover .seven {
  animation: count7 0.5s linear 1;
  counter-increment: count 7;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .number::after {
  content: counter(count);
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .number .one {
  counter-increment: count 1;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .number .two {
  counter-increment: count 2;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .number .thri {
  counter-increment: count 3;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .number .four {
  counter-increment: count 4;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .number .five {
  counter-increment: count 5;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .number .six {
  counter-increment: count 6;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .number .seven {
  counter-increment: count 7;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .card_label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #f0f0f0;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .card_count {
  margin-bottom: 5px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: #2d8eee;
}
.Stage_of_quiz_develop .wrapper .graphik .graph_card .card_count::before {
  transition-duration: 0.3s;
  content: "";
  position: absolute;
  top: 75px;
  left: 41%;
  background-color: #2d8eee;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

@keyframes count1 {
  0% {
    counter-increment: count 0;
  }
  100% {
    counter-increment: count 1;
  }
}
@keyframes count2 {
  0% {
    counter-increment: count 0;
  }
  50% {
    counter-increment: count 1;
  }
  100% {
    counter-increment: count 2;
  }
}
@keyframes count3 {
  0% {
    counter-increment: count 0;
  }
  33% {
    counter-increment: count 1;
  }
  66% {
    counter-increment: count 1;
  }
  100% {
    counter-increment: count 3;
  }
}
@keyframes count4 {
  0% {
    counter-increment: count 0;
  }
  25% {
    counter-increment: count 1;
  }
  50% {
    counter-increment: count 2;
  }
  75% {
    counter-increment: count 3;
  }
  100% {
    counter-increment: count 4;
  }
}
@keyframes count5 {
  0% {
    counter-increment: count 0;
  }
  20% {
    counter-increment: count 1;
  }
  40% {
    counter-increment: count 2;
  }
  60% {
    counter-increment: count 3;
  }
  80% {
    counter-increment: count 4;
  }
  100% {
    counter-increment: count 5;
  }
}
@keyframes count6 {
  0% {
    counter-increment: count 0;
  }
  16% {
    counter-increment: count 1;
  }
  32% {
    counter-increment: count 2;
  }
  48% {
    counter-increment: count 3;
  }
  64% {
    counter-increment: count 4;
  }
  80% {
    counter-increment: count 5;
  }
  100% {
    counter-increment: count 6;
  }
}
@keyframes count7 {
  0% {
    counter-increment: count 0;
  }
  15% {
    counter-increment: count 1;
  }
  30% {
    counter-increment: count 2;
  }
  45% {
    counter-increment: count 3;
  }
  60% {
    counter-increment: count 4;
  }
  73% {
    counter-increment: count 5;
  }
  88% {
    counter-increment: count 6;
  }
  100% {
    counter-increment: count 7;
  }
}